* {
  /*   border: solid 1px; */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: "cwTeXHei", sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
  font-color: #301c06;
}
/*
.navbar-nav {
  margin-left: 270px;
}
 */

.container {
  padding-top: 60px;
}

.topup {
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: center;
}
.a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #ffffff;
  background: #b8aa95;
  border: solid 8px #ffffff;
  border-radius: 10px;
}

.a1 {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background: #b8aa95;
  border: solid 8px #ffffff;
  border-radius: 10px;
}

.card {
  margin-bottom: 50px;
}

.card-title {
  color: #5e5a53;
}

.card-text1 {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background: #5e5a53;
  border: solid 8px #5e5a53;
  border-radius: 10px;
}

.card-text {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background: #b17e63;
  border-radius: 10px;
}

.card1-1 {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  text-align: center;
  border: solid 10px #f1d7ae;
  box-shadow: 0px 0px 5px rgba(255, 178, 131, 0.3);
  transition: 0.5s;
}
.card1-1:hover {
  box-shadow: 5px 5px 40px rgba(255, 178, 131, 0.4);
  transform: translate(-5px, -5px);
}

.card1-2 {
  /*   margin-top: 80px; */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  text-align: center;
  border: solid 10px #f1d7ae;
  box-shadow: 0px 0px 5px rgba(255, 178, 131, 0.3);
  transition: 0.5s;
}
.card1-2:hover {
  box-shadow: 5px 5px 40px rgba(255, 178, 131, 0.4);
  transform: translate(-5px, -5px);
}

.card1-3 {
  /*   margin-top: 80px; */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border: solid 10px #f1d7ae;
  box-shadow: 0px 0px 5px rgba(255, 178, 131, 0.3);
  transition: 0.5s;
}
.card1-3:hover {
  box-shadow: 5px 5px 40px rgba(255, 178, 131, 0.4);
  transform: translate(-5px, -5px);
}

.comic {
  margin-top: 0px;
  margin-bottom: 50px;
}

.comictext {
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background: #b17e63;
  border-radius: 10px;
}

.text {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background: #b17e63;
  border-radius: 10px;
}

.video1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.video2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.video3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.toTop-arrow {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 33%;
  opacity: 0.6;
  background: #000;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
}
.toTop-arrow::before,
.toTop-arrow::after {
  width: 18px;
  height: 5px;
  border-radius: 3px;
  background: #f90;
  position: absolute;
  content: "";
}
.toTop-arrow::before {
  transform: rotate(-45deg) translate(0, -50%);
  left: 0.5rem;
}
.toTop-arrow::after {
  transform: rotate(45deg) translate(0, -50%);
  right: 0.5rem;
}
.toTop-arrow:focus {
  outline: none;
}

@font-face {
  font-family: "cwTeXHei";
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix)
      format("embedded-opentype"),
    url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format("woff"),
    url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf)
      format("truetype");
}